.App {
  text-align: center;
}
* {
  z-index: 111;
}
input,
select,
textarea {
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: inherit;
}


@media (prefers-reduced-motion: no-preference) {
  .spin-animation {
    animation: element-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  color: #282c34;
}
a {
  color: #61dafb;
}

@keyframes element-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
